*.pyc
.coverage
*.log
*.db
*.pid
.DS_Store
*.swp
*.swo
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
.idea
settings.py
/djangoproject/static/
/log/
/tmp/
redis.local.conf
djangoproject/base/static/styles/main.css
