-e .
colour-runner==0.0.5
dj-database-url>=0.4.2,<0.5
django>=1.10.5,<1.11
incuna-test-utils==6.6.0

# For categories
#https://github.com/initcrash/django-denorm/tarball/7b0c1c9db9e81eb16bf229d41bd89b21f75c6168#egg=denorm
git+http://github.com/initcrash/django-denorm.git@7b0c1c9db9e81eb16bf229d41bd89b21f75c6168#egg=denorm
