{% extends "articles/base.html" %}

{% load feincms_tags feincms_page_tags tagging_tags %}

{% block article-title %}
{# <h2>{{ object.category }}</h2> #}
{% endblock %}

{% block article-content %}
    <div class="article full">
        
        <div class="date"><span class="month">{{ object.publication_date|date:"M" }}</span> <span class="day">{{ object.publication_date|date:"j" }}</span> <span class="year">{{ object.publication_date|date:"Y" }}</span></div>
        
        <div class="header">
            <h3>{{ object }}</h3>
            {% tags_for_object object as tags %}
            {% if tags %}
            <div class="tags">
                <span class="label">Tagged:</span>
                <ul>
                {% for atag in tags %}
                    <li><a href="{% url article_tag tag=atag %}">{{ atag }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="body">
            {% for content in object.content.main %}
                {% feincms_render_content content request %}
            {% endfor %} 
        </div>
    </div>
{% endblock %}
    
