{% extends "articles/base.html" %}

{% load i18n tagging_tags article pagination_tags %}

{% block article-title %}
    <h2>{% if category %}{{ category }}{% else %}{% trans 'Articles' %}{% endif %}</h2>
{% endblock %}

{% block article-aside %}

    <h3>{% trans 'Categories' %}</h3>
    <div class="sublinks">
    {% categories category %}
    </div>

    {% if tags %}
    <div class="tags">
        <h3>{% trans 'Tags' %}</h3>
        <ul>
        {% for atag in tags %}
        <li{% ifequal atag tag %} class="current"{% endifequal %}><a class="tag" href="{{ category.get_absolute_url }}?tag={{ atag }}">{{ atag }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endblock %}


{% block article-content %}

    <div class="sublinks">
    {% categories category category %}
    </div>
    
    {% autopaginate object_list 10 %}
    {% for article in object_list %}  
    <div class="article short">
        <div class="date"><span class="month">{{ article.publication_date|date:"M" }}</span> <span class="day">{{ article.publication_date|date:"j" }}</span> <span class="year">{{ article.publication_date|date:"Y" }}</span></div>
        <div class="summary">
            {% if article.thumbnail %}<a class="thumbnail" href="{{article.get_absolute_url }}"><img src="{{ article.thumbnail.url }}" alt="{{ article }}" /></a>{% endif %}
            <h3><a href="{{article.get_absolute_url }}">{{ article }}</a></h3>
            <p>{{ article.summary }}</p>
        </div>
    </div>
    {% endfor %}
    {% paginate %}
    
{% endblock %}
