{% extends "articles/base.html" %}

{% load i18n tagging_tags article %}

{% block article-title %}
    <h2>{% if category %}{{ category }}{% else %}{% trans 'Articles' %}{% endif %}</h2>
{% endblock %}

{% block article-aside %}

    <h3>{% trans 'Categories' %}</h3>
    <div class="sublinks">
    {% categories category %}
    </div>

    {% tags_for_model articles.Article as tags %}
    {% if tags %}
    <div class="tags">
        <h3>{% trans 'Tags' %}</h3>
        <ul>
        {% for atag in tags %}
            <li><a class="tag{% ifequal atag tag %} selected{% endifequal %}" href="{% url article_tag tag=atag %}">{{ atag }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    
{% endblock %}


{% block article-content %}

    {#% autopaginate articles 10 %#}
    {% for article in object_list %}  
    <div class="article short">
        <div class="date"><span class="month">{{ article.publication_date|date:"M" }}</span> <span class="day">{{ article.publication_date|date:"j" }}</span> <span class="year">{{ article.publication_date|date:"Y" }}</span></div>
        <div class="summary">
            <h3><a href="{{article.get_absolute_url }}">{{ article }}</a></h3>
            <p>{{ article.summary }}</p>
        </div>
    </div>
    {% endfor %}
    {#% paginate %#}
    
{% endblock %}
