{% extends "articles/base.html" %}

{% load i18n pagination_tags %}

{% block article-title %}
    <h2>{% trans 'Articles' %}</h2>
{% endblock %}

{% block article-content %}

    {% autopaginate object_list 10 %}
    {% for article in object_list %}  
    <div class="article short">
        <div class="summary">
            <h3><a href="{{article.get_absolute_url }}">{{ article }}</a></h3>
            <p>{{ article.summary }}</p>
        </div>
    </div>
    {% endfor %}
    {% paginate %}

{% endblock %}
